In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
p = pd.read_csv('./all_pitches.csv')

In [3]:
ab = pd.read_csv('./all_atbats.csv')

In [4]:
filt = p['zone'] != '-1'
p = p.loc[filt]

In [5]:
p['zone'].value_counts()

12a    311062
15a    288733
13a    279727
4a     239050
7a     229461
8a     210612
3a     206808
5a     204035
6a     187835
1a     134066
15b    127702
0a     117847
16b    111816
13b    109396
12b    109055
2a     104105
10b     75499
16a     67266
10a     64783
14b     56338
9b      39108
14a     38355
11b     24377
9a       8575
Name: zone, dtype: int64

In [6]:
p.head()

,px,py,code,type,pitch_type,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b,swing,res,zone
0,0.416,0.364,C,S,FF,2015000001,0,0,0,1,0.0,0.0,0.0,0,strike,2a
1,-0.191,-0.252,S,S,FF,2015000001,0,1,0,2,0.0,0.0,0.0,1,strike,4a
2,-0.518,0.685,F,S,FF,2015000001,0,2,0,3,0.0,0.0,0.0,1,foul,0a
3,-0.641,-1.378,B,B,FF,2015000001,0,2,0,4,0.0,0.0,0.0,0,ball,15b
4,-1.821,-0.516,B,B,CU,2015000001,1,2,0,5,0.0,0.0,0.0,0,ball,12b

In [7]:
filt = ab['stand'] == 'R'
rhh = ab.loc[filt]

In [8]:
#filtering pitches so we have only rhh batters
filt = p['ab_id'].isin(rhh['ab_id'])
p = p.loc[filt]

In [12]:
swing_trans = {}
for p_name, z in p.groupby('pitch_type'):
    swing_trans[p_name] = {}
    for z_name, g in z.groupby('zone'):
        swing_trans[p_name][z_name] = dict(g['res'].value_counts(normalize=True))

In [13]:
swing_trans['FF']['0a']['strike']

0.33159192298661655

In [14]:
with open('./swing_trans.json', 'w') as outfile:
    json.dump(swing_trans, outfile)